*.iml
.gradle/
/local.properties
.artifacts/
.agent/
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
build/
app/build/
/captures
.externalNativeBuild
.cxx
local.properties
captures/
.externalNativeBuild/
.cxx/
Apk Signed/
Release/
